* {
    box-sizing: border-box;
}

ul.list {
    margin: 24px 0 0 0;
    padding: 0;
    list-style: none;
}

ul.list>li {
    margin-bottom: 30px;
}

ul.list>li:last-child {
    margin-bottom: 0;
}

ul.list>li>a.link_title {
    display: block;
    width: 100%;
    color: white;
    background-color: #dd2836;
    box-shadow: 2px 2px 8px 0 rgba(56, 55, 53, 0.33);
    border-radius: 26px;
    padding: 8px 40px;
    text-decoration: none;
    font-size: 24px;
    font-weight: normal;
}

ul.list>li>a.link_title::after {
    content: "";
    display: block;
    clear: both;
}

ul.list>li>a.link_title button.switch_btn {
    float: right;
    display: inline-block;
    background: none;
    border: 0;
    outline: none;
    color: white;
    font-size: 24px;
}

ul.list>li>a.link_title button.switch_btn span.-minus {
    display: none;
}

ul.list>li>div.inner_block {
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 8px;
    padding: 0 40px;
    line-height: 1.6;
    display: none;
}

ul.list>li.-on>a.link_title button.switch_btn span.-plus {
    display: none;
}

ul.list>li.-on>a.link_title button.switch_btn span.-minus {
    display: inline-block
}